.nav {
  background-color: #111827;
  padding: 1rem;
}

.toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;

  li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
}

/* MOBIL */
@media (max-width: 768px) {
  .toggle {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
  }

  .open {
    display: flex;
  }
}